<!--
Snake - an Android Game
Copyright 2012 Nick Eyre <nick@nickeyre.com>

Snake is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Snake is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Snake.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nickeyre.snake"
  android:versionCode="2"
  android:versionName="1.1">

  <!-- Target Android 4.0.3, Minimum 2.2 -->
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

  <application android:label="@string/app_name"
    android:icon="@drawable/ic_launcher"
    android:theme="@style/AppTheme">

    <!-- Register Title Screen Activity as Default (No Rotation, Hide Keyboard) -->
    <activity
      android:name="TitleScreen"
      android:screenOrientation="nosensor"
      android:configChanges="keyboardHidden|orientation|screenSize" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- Register Game Screen Activity (No Rotation, Hide Keyboard) -->
    <activity android:label="@string/app_name"
      android:name="com.nickeyre.snake.GameScreen"
      android:screenOrientation="nosensor"
      android:configChanges="keyboardHidden|orientation|screenSize"
      ></activity>

    <!-- Register Options Screen Activity (No Rotation, Hide Keyboard) -->
    <activity android:label="@string/options"
      android:name="com.nickeyre.snake.OptionsScreen"
      android:screenOrientation="nosensor"
      android:configChanges="keyboardHidden|orientation|screenSize"
      ></activity>

  </application>

</manifest>
